/* the basics */
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'tiki_tropicregular';
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-image: url('https://images.unsplash.com/photo-1594494842991-a0e13dd4a4ca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
  background-color: #d5d1bd;
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: 'beach';
  src: url('/assets/webfontkit-20210219-210216/beachclub-grunge-webfont.woff2') format('woff2'),
       url('/assets/webfontkit-20210219-210216/beachclub-grunge-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Welcome Page Styling */
.welcomeTo {
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
.welcomePara {
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
.welcomeTo {
  font-family: 'Dancing Script', cursive;
  -webkit-text-stroke: rgb(27, 88, 102) 1px;
  padding: 15px;
  margin: 15px;
  
}
.welcomeBox {
  padding: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color:rgb(109, 204, 211);
  -webkit-text-stroke: rgb(27, 88, 102) 1px;
  background-color: rgb(220, 205, 188);
  height: 400px;
  letter-spacing: 1.5px;
  border-radius: 6px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(143, 108, 92);
  text-align: center;
}
.login {
  /* -webkit-text-stroke: white 1px; */
  background-color:aquamarine;
  
  color: rgb(43, 89, 89);
  border-color: aquamarine;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.signup {
  /* -webkit-text-stroke: white 1px; */
  background-color: aquamarine;
  letter-spacing: 2px;
  
  color: rgb(43, 89, 89);
  border-color: aqua;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Sign Up Page Styling */
.signupPage {
  text-align: center;
  border-radius: 6px;
}
.submitButtonSignUp {
  text-align: center;
  align-items: center;
  float: none!important;
  background-color: rgb(220, 205, 188);
}
.signUpPage {
  background-color: rgb(220, 205, 188);
  text-align: center;
  border-radius: 5px;
  border-radius: 6px;
  border: solid 3px rgb(168, 153, 143); 
  font-size: 1.5em;
}
.signUpForm {
  background-color: rgb(220, 205, 188);
  text-align: center;
  display: flexbox;
  border-radius: 6px;
}
input.form-control {
  background-color: rgb(238, 224, 207);
  width: 300px;
  
}
.signUpContainer{
  width: 800px;
  align-content: center;
  
}
.signUpOne {
  text-align: center;
  display: flex;
  padding: 50px;
  font-family: 'Dancing Script', cursive;
  
}
#aboutMeBox {
  width: 200px;
 
}
form {
  text-align: center;
  display: inline-block;
  color:rgb(26, 210, 210);
  font-size: 1em;
  -webkit-text-stroke: rgb(27, 88, 102) 1px;
}

.formControl {
  margin: 5px;
  border-radius: 3px;
  border: solid;
  border-color: rgb(168, 153, 143);
  border-width: 2px;
  box-shadow: rgb(168, 153, 143);
  background-color: rgb(157, 138, 117);
}
#photoUpload {
  text-align: center!important;
  
}

.submitButtonSignUp {
  background-color: aquamarine;
  border-color: aqua;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.signUpPara {
  font-size: 2em;
  color: rgb(26, 210, 210);
  -webkit-text-stroke: rgb(27, 88, 102) 1px;
}
/* Login Page Styling */
.cardbody {
  font-family: 'Dancing Script', cursive;
  color: rgb(26, 210, 210);
  text-align: center;
  border-radius: 7px;
  border-color: rgb(168, 153, 143);
  border-style: solid;
  border-width: 3px;
  background-color: rgb(220, 205, 188);
  -webkit-text-stroke: rgb(27, 88, 102) 1px;
}

input.form-control {
  background-color: rgb(157, 138, 117);
}
.loginPageButton {
  background-color: aquamarine;
  border-radius: 5px;
  border-color: aqua;
}
.loginPara {
  font-size: 2.5em;
}
.loginForm {
  font-size: 1.25em;
}

/* NavBar Styling */
.navbar {
  font-family: 'beachclub-grungeregular';
  padding: 25px;
  text-decoration: none;
  color: black!important;
  
}
.navbarLogo {
  font-family: 'beachclub-grungeregular';
  text-align: left;
  color: #7b593e;
  -webkit-text-stroke: 1.5px #322415;
  font-size: 4em!important;
  text-decoration: none!important;
  color:black!important;
}
.navbar-brand {
  color: #7b593e;
  font-size: 4em;
  -webkit-text-stroke: 1.5px #322415;
}
.nav-link {
  color: #7b593e;
  font-size: 2em;
  -webkit-text-stroke: 1px #322415;
}

/* Home page styling */

.home-wrapper {
  margin: 15px;
  background-color: #6faf95;
  outline-color: #2db8a5;
  border-width: 4px solid;
  border-radius: 7px;
}
.homeRow {
  display: flex;
  flex-direction: row;
  
  width: 100%;
}

.postColumn {
  background-color: #ccc5ac;
  width: 70%;
  flex: 2;
  margin: 10px;
  border:4px solid #82775a;
  border-radius: 5px;
}
.followColumn {
  background-color:#ccc5ac;
  width: 30%;
  flex: 1;
  height: 100%;
  margin: 10px;
  border:4px solid #82775a;
  border-radius: 5px;
}
.feedColumn {
  background-color:#ccc5ac;
  width: 64%;
  flex:2;
  margin: 10px;
  margin-bottom: 20px;
  border:4px solid #82775a;
  border-radius: 5px;
}
.feedPosts {
  background-color:#e0e7d2 ;
  margin: 15px;
  border:#d5d1bd 2px solid;
}
.feedList ul {
  list-style-type: none;
}
.feedList li {
  list-style-type: none;
}

.statusLabel {
  color:#2db8a5; 
  font-size:4em;
  letter-spacing:0.05em;
  text-transform: capitalize;
  text-shadow: 1px 1px 0px rgba(101, 101, 101, 0.5), -1px -1px 0px rgb(62, 61, 61), 2px 4px 2px rgb(168, 153, 143);
  margin: 15px;
}

.statusBox {
  width: 400px;
}
.submitStatus {
  background-color: #2db8a5;
  border-radius: 5px;
  border-color: #6faf95;
  margin: 10px;
}

/* Footer Styling */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}